.wrapper {
  width: auto;
  background-color: rgba(14, 167, 159, 0.205);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  ul {
    margin: 0;
    padding: 0;
      li {
      list-style-type: none;
      margin-bottom: 10px;
      
    }
  }
}

.h1 {
  text-align: center;
}


.totalPrice {
  display: block;
  text-align: right;
  font-size: 25px;
}

.totalPriceNumber {
  font-weight: bold;
}

.modalWindow {
  display: none;
}

.modalWindowActive {
  display: fixed;
  position: absolute;
  top: 10vh;
  left: calc(50vw - (320px / 2));
  min-width: 320px;
  min-height: 320px;
  background-color: grey;
  border-radius: 10px;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.text {
  display: block;
  margin: 100px 15px 0 15px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.cartEmpty {
  color: red;
}

.buyButton {
  text-align: right;
  margin-bottom: 10px;
  button {
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
}