.cart {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 250px;
  margin-top: 30px;
  &:not(:nth-child(4)) {
    margin-right: auto;
  }
}

.title {
  font-size: 24px;
}

.price {
  font-size: 30px;
  font-weight: bold;
}