.cart {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 250px;
  width: 250px;
  margin-top: 30px;
  padding: 5px;
  background-color: rgba(14, 167, 159, 0.205);
  border-radius: 10px;
  &:not(:nth-child(4n)) {
    margin-right: 20px;
  }
}

.img {
  text-align: center;
}

.title {
  font-size: 24px;
  text-align: center;
}

.price {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.count {
  display: flex;
  flex-direction: column;
}

.character {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.comparison {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: blanchedalmond;
  cursor: pointer;
}

.a {
  color: #e86a23;
}