.title {
  text-align: center;
  margin-top: 30px;
}

.table {
  display: block;
  border-collapse: collapse;
  border: none;
  padding-left: 50px;
  padding-right: 50px;

}

.tr {
  &:nth-child(2n) {
    background-color: blanchedalmond;
  }
}

.td {
  position: relative;
  border: 1px solid blanchedalmond;
  padding: 10px 10px 10px 10px;
  text-align: center;
  &:nth-child(4) {
    padding-right: 0;
  }
  svg {
    background-color: blanchedalmond;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &:hover {
      background-color: #ffd1b6;
    }
  }
}

.trash {
  width: 40px;
  height: 40px;
}

.a {
  cursor: pointer;
  color: #e86a23;
  font-weight: bold;
  text-decoration: underline;
}

.img {
  cursor: pointer;
}

.span {
  display: block;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}

.arrowRelative {
  position: relative;
}

.arrowLeft {
  position: absolute;
  height: 200px;
  width: 50px;
  background-color: rgba(255, 235, 205, 0.609);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #e86a23;
    transform: rotate(25deg) translateX(25px) translateY(-10px);
  }

  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #e86a23;
    transform: rotate(155deg) translateX(15px) translateY(-95px);
  }
}

.arrowRight {
  position: absolute;
  height: 200px;
  width: 50px;
  right: 0;
  background-color: rgba(255, 235, 205, 0.609);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #e86a23;
    transform: rotate(335deg) translateX(20px) translateY(12px);
  }

  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #e86a23;
    transform: rotate(25deg) translateX(60px) translateY(75px);
  }
}
.bigTable {
  max-width: 1024px;
}

.ArrowMobileRight, .ArrowMobileLeft {
  display: none;
}


@media screen AND (max-width: 540px) {
  .arrowRight,
  .arrowLeft {
    display: none;
  }

  .table {
    padding: 0;
  }

  .ArrowMobileRight, .ArrowMobileLeft {
    display: block;
    position: absolute;
    font-size: 30px;
    color: #e86a23;
  }

  .ArrowMobileLeft {
    top: calc(50% - 15px);
    left: -15px
  }

  .ArrowMobileRight {
    top: calc(50% - 15px);
    right: -15px;
  }
}


@media screen AND (max-width: 440px) {
  .bigTable {
    overflow-x: scroll;
  }

  .table {
    width: 120%;
    border-collapse: collapse;
  }
}