.wrapper {
  width: 100%;
  margin-top: 30px;


}
.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    margin: 5px 20px 5px 10px;
  }
  span {
    margin: 0 20px 5px 10px;
  }
}

.img {
  position: relative;
  svg {

    position: absolute;
    top: 0;
    left: 0;
    background-color: blanchedalmond;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: rgb(255, 212, 147);
    }
  }
  
}

.href {
  margin-left: 10px;
  
  a {
    border-bottom: 1px solid red ;
    cursor: pointer;
    &:hover {
      color: #be5a20;
    }
  }
  
}

.price {
  font-size: 40px;
  text-align: center;
}

.counter {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    color: red;
    border: 1px solid lightgray;
    cursor: pointer;
  }
  input {
    width: 30%;
    border: 1px solid lightgray;
    outline: none;
    text-align: center;
  }
  
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60px;
  margin: 10px 5px 5px 10px;
  cursor: pointer;
  color: white;
  background-color: red;
  &:hover {
    background-color: rgb(253, 72, 72);
  }
}

.table {
  width: 100%;
  font-size: 20px;
  border: 1px solid rgba(11, 194, 194, 0.301);
  border-collapse: collapse;
  tr {
    border: 1px solid rgba(11, 194, 194, 0.301);
  }
  th {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  td {
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.a {
  color: #e86a23;
}