.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 30px; 
  margin: 0 10px;
  margin-top: auto;
}

.a {
  color: #e86a23;
  &:hover {
    color: #be5a20;
  }
}


@media screen AND (max-width: 420px){
  .footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}